In [187]:
import pandas as pd
import os
from matplotlib import pyplot

ModuleNotFoundError: No module named 'matplotlib'

In [9]:
####Importing the csv files

In [149]:
os.chdir("SalesAnalysis\Sales_Data")

FileNotFoundError: [WinError 3] Le chemin d’accès spécifié est introuvable: 'SalesAnalysis\\Sales_Data'

In [153]:
files= [file for file in os.listdir()]
all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_csv(file)
    all_months_data = pd.concat([all_months_data,df])
all_months_data.to_csv("all_months_data.csv")

In [177]:
all_data.reset_index(drop=True,inplace=True)
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Profit
0,142996,AAA Batteries (4-pack),1,2.99,01/01/19 21:01,"402 Chestnut St, Boston, MA 02215",1,2.99
1,144300,Apple Airpods Headphones,1,150.00,01/11/19 14:22,"532 River St, San Francisco, CA 94016",1,150.00
2,144299,27in 4K Gaming Monitor,1,389.99,01/31/19 19:57,"942 North St, San Francisco, CA 94016",1,389.99
3,144298,Lightning Charging Cable,1,14.95,01/13/19 12:00,"709 North St, Los Angeles, CA 90001",1,14.95
4,144297,Flatscreen TV,1,300.00,01/21/19 14:37,"437 Madison St, Atlanta, GA 30301",1,300.00
...,...,...,...,...,...,...,...,...
185945,311693,27in FHD Monitor,1,149.99,12/06/19 18:05,"594 9th St, Dallas, TX 75001",12,149.99
185946,311694,AAA Batteries (4-pack),1,2.99,12/19/19 07:35,"905 11th St, Atlanta, GA 30301",12,2.99
185947,311695,Wired Headphones,1,11.99,12/21/19 21:06,"107 Lakeview St, San Francisco, CA 94016",12,11.99
185948,311673,USB-C Charging Cable,1,11.95,12/26/19 22:24,"169 Forest St, San Francisco, CA 94016",12,11.95
185949,308183,Lightning Charging Cable,1,14.95,12/11/19 13:25,"270 8th St, Los Angeles, CA 90001",12,14.95

In [156]:
all_data = pd.read_csv("all_months_data.csv")
all_data.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# adding helpful columns

clean NaN

In [157]:
for i in all_data.index:
    if pd.isnull(all_data['Quantity Ordered'][i]) or all_data['Quantity Ordered'][i] =='Quantity Ordered' :
        all_data = all_data.drop(i) 
all_data.to_csv("all_months_data.csv")

In [159]:
all_data = all_data.drop('Unnamed: 0',axis=1)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

add a month column

In [160]:
all_data['month']=all_data['Order Date'].str[0:2]
all_data['month'] = all_data['month'].astype('int32')
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",9
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",9
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",9
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",9
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",9

In [161]:
all_data= all_data.sort_values(by="month")
all_data['Quantity Ordered'] = all_data['Quantity Ordered'].astype('int')
all_data['Price Each'] = all_data['Price Each'].astype('float')

adding a profit column

In [162]:
all_data['Profit']=all_data['Quantity Ordered'] * all_data['Price Each']
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month,Profit
69397,142996,AAA Batteries (4-pack),1,2.99,01/01/19 21:01,"402 Chestnut St, Boston, MA 02215",1,2.99
70773,144300,Apple Airpods Headphones,1,150.00,01/11/19 14:22,"532 River St, San Francisco, CA 94016",1,150.00
70772,144299,27in 4K Gaming Monitor,1,389.99,01/31/19 19:57,"942 North St, San Francisco, CA 94016",1,389.99
70771,144298,Lightning Charging Cable,1,14.95,01/13/19 12:00,"709 North St, Los Angeles, CA 90001",1,14.95
70770,144297,Flatscreen TV,1,300.00,01/21/19 14:37,"437 Madison St, Atlanta, GA 30301",1,300.00
...,...,...,...,...,...,...,...,...
47162,311693,27in FHD Monitor,1,149.99,12/06/19 18:05,"594 9th St, Dallas, TX 75001",12,149.99
47163,311694,AAA Batteries (4-pack),1,2.99,12/19/19 07:35,"905 11th St, Atlanta, GA 30301",12,2.99
47164,311695,Wired Headphones,1,11.99,12/21/19 21:06,"107 Lakeview St, San Francisco, CA 94016",12,11.99
47142,311673,USB-C Charging Cable,1,11.95,12/26/19 22:24,"169 Forest St, San Francisco, CA 94016",12,11.95
43510,308183,Lightning Charging Cable,1,14.95,12/11/19 13:25,"270 8th St, Los Angeles, CA 90001",12,14.95

In [46]:
# Whats was the best month for sales? April

In [178]:
print(all_data.loc[:,["month","Profit"]])

        month  Profit
0           1    2.99
1           1  150.00
2           1  389.99
3           1   14.95
4           1  300.00
...       ...     ...
185945     12  149.99
185946     12    2.99
185947     12   11.99
185948     12   11.95
185949     12   14.95

[185950 rows x 2 columns]

In [188]:
monthly_profits = {}
for k in all_data.index:
    if all_data['month'][k] not in monthly_profits: 
        monthly_profits[all_data['month'][k]]=all_data['Profit'][k]
    else:monthly_profits[all_data['month'][k]]+=all_data['Profit'][k]

1 1822256.7299999143
2 2202022.419999963
3 2807100.3800003394
4 3390670.240000724
5 3152606.7500005597
6 2577802.2600001874
7 2647775.760000224
8 2244467.880000002
9 2097560.1299998984
10 3736726.8800009666
11 3199603.2000006237
12 4613443.340001533

In [189]:
for i in monthly_profits:
    print(i,monthly_profits[i])

1 1822256.7299999143
2 2202022.419999963
3 2807100.3800003394
4 3390670.240000724
5 3152606.7500005597
6 2577802.2600001874
7 2647775.760000224
8 2244467.880000002
9 2097560.1299998984
10 3736726.8800009666
11 3199603.2000006237
12 4613443.340001533